[project]
	description = admob
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iamdaiyuan (iamdaiyuan)
[access "refs/for/refs/*"]
	read = group user/iamdaiyuan (iamdaiyuan)
	push = group user/iamdaiyuan (iamdaiyuan)
	label-Code-Review = -2..+2 group user/iamdaiyuan (iamdaiyuan)
	label-Verified = -1..+1 group user/iamdaiyuan (iamdaiyuan)
	rebase = group user/iamdaiyuan (iamdaiyuan)
	removeReviewer = group user/iamdaiyuan (iamdaiyuan)
	submit = group user/iamdaiyuan (iamdaiyuan)
[access "refs/heads/*"]
	read = group user/iamdaiyuan (iamdaiyuan)
	create = group user/iamdaiyuan (iamdaiyuan)
	push = +force group user/iamdaiyuan (iamdaiyuan)
	pushMerge = group user/iamdaiyuan (iamdaiyuan)
[access "refs/tags/*"]
	push = +force group user/iamdaiyuan (iamdaiyuan)
	pushTag = group user/iamdaiyuan (iamdaiyuan)
	pushSignedTag = group user/iamdaiyuan (iamdaiyuan)
